@if (selectors) {
<div class="selectors-wrapper">
  <div class="selectors-container">
    @for (selector of showSelectors; track trackByIdentity($index, selector)) {
    @switch (selector.metadata.type) { @case ('labelSelector') {
    <app-octant-tooltip
      tooltipText="{{ selector.config.key }}:{{ selector.config.value }}"
    >
      <app-view-label-selector [view]="selector"></app-view-label-selector>
    </app-octant-tooltip>
    } @case ('expressionSelector') {
    <app-octant-tooltip
      tooltipText="{{ selector.config.key }} {{ selector.config.operator }} {{
        selector.config.values | join : ','
      }}"
    >
      <app-view-expression-selector
        [view]="selector"
      ></app-view-expression-selector>
    </app-octant-tooltip>
    } } }
  </div>
  @if (overflowSelectors?.length > 0) {
  <clr-signpost>
    <span class="badge badge-orange" clrSignpostTrigger>
      {{ overflowSelectors.length }}+
    </span>
    <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
      @for (selector of overflowSelectors; track trackByIdentity($index,
      selector)) { @switch (selector.metadata.type) { @case ('labelSelector') {
      <app-view-label-selector [view]="selector"></app-view-label-selector>
      } @case ('expressionSelector') {
      <app-view-expression-selector
        [view]="selector"
      ></app-view-expression-selector>
      } } }
    </clr-signpost-content>
  </clr-signpost>
  }
</div>
}
