@if (!isMarkdown) { @if (hasStatus) {
<app-indicator [status]="view.config.status"></app-indicator>
} @if (className) {
<span [class]="className">{{ value }}</span>
} @else {
{{ value }}
} @if (clipboardValue) {
<div class="button-container">
  <div cds-layout="horizontal gap:sm">
    <cds-icon-button
      action="flat"
      ariaLabel="copy-button"
      (click)="copyToClipboard()"
    >
      <clr-icon shape="clipboard"></clr-icon>
      @if (copied) { Copied }
    </cds-icon-button>
  </div>
</div>
} } @else {
<div ngPreserveWhitespaces [innerHTML]="value" class="markdown"></div>
}
