@if (isExternal) { @if (component) {
<a target="_blank" href="{{ ref }}">
  <app-view-container [view]="component" class="component"></app-view-container>
</a>
} @else {
<a target="_blank" href="{{ ref }}">{{ value }}</a>
} } @else { @if (hasStatus) {
<app-indicator
  [status]="view.config.status"
  [detail]="view.config.statusDetail"
></app-indicator>
} @if (component) {
<a [routerLink]="[ref]">
  <app-view-container [view]="component" class="component"></app-view-container>
</a>
} @else {
<a [routerLink]="[ref]">{{ value }}</a>
} }
