<clr-timeline [clrLayout]="vertical ? 'vertical' : 'horizontal'">
  @for (step of steps; track trackByFn($index, step)) {
  <clr-timeline-step [clrState]="step.state">
    <clr-timeline-step-header>{{ step.header }}</clr-timeline-step-header>
    <clr-timeline-step-title>{{ step.title }}</clr-timeline-step-title>
    <clr-timeline-step-description>
      {{ step.description }}
      @if (step.buttonGroup) {
      <br />
      <app-button-group [view]="step.buttonGroup"></app-button-group>
      }
    </clr-timeline-step-description>
  </clr-timeline-step>
  }
</clr-timeline>
