<div class="switch-button-container">
  @if (collapsed) {
  <button
    id="switchButton"
    class="btn btn-link btn-inverse btn-collapsed"
    (click)="switchTheme()"
  >
    <clr-icon [shape]="lightThemeEnabled ? 'moon' : 'sun'"></clr-icon>
  </button>
  } @else {
  <button
    id="switchButton"
    class="btn btn-link btn-inverse"
    (click)="switchTheme()"
  >
    <clr-icon [shape]="lightThemeEnabled ? 'moon' : 'sun'"></clr-icon>
    {{ lightThemeEnabled ? 'dark' : 'light' }}
  </button>
  }
</div>
