<div class="breadcrumb-row">
  <app-breadcrumb [path]="title"> </app-breadcrumb>
  @if (titleComponents?.length > 0) {
  <div class="title-container">
    @for (component of titleComponents; track $index) {
    <div class="item">
      <app-view-container [view]="component"></app-view-container>
    </div>
    }
  </div>
  }
</div>
@if (tabs.length > 1) {
<clr-tabs>
  @for (tab of tabs; track identifyTab($index, tab)) {
  <clr-tab>
    <button clrTabLink class="tab-button" (click)="clickTab(tab.accessor)">
      {{ tab.name }}
    </button>
    @if (closable) {
    <clr-icon shape="times" (click)="closeTab(tab.accessor)"></clr-icon>
    }
    <ng-template [clrIfActive]="activeTab === tab.accessor">
      <clr-tab-content *clrIfActive>
        <app-view-container [view]="tab.view"></app-view-container>
      </clr-tab-content>
    </ng-template>
  </clr-tab>
  }
</clr-tabs>
} @else {
<app-view-container [view]="view"></app-view-container>
}
