<div class="app-namespace-selector">
  @if (showDropdown) {
  <clr-dropdown class="dropdown-top" [clrCloseMenuOnItemClick]="false">
    <button type="button" class="dropdown-button" clrDropdownTrigger>
      <clr-icon shape="namespace"></clr-icon>
      {{ currentNamespace }}
      <clr-icon shape="caret" direction="down"></clr-icon>
    </button>
    <clr-dropdown-menu
      class="dropdown-top"
      *clrIfOpen
      [clrPosition]="'bottom-right'"
    >
      <label class="dropdown-header">Namespaces</label>
      @for (namespace of namespaces | slice : 0 : nsLimit; track
      trackByIdentity($index, namespace)) {
      <button
        type="button"
        class="dropdown-button ns-menu-item"
        [ngClass]="namespaceClass(namespace)"
        clrDropdownItem
        (click)="selectNamespace(namespace)"
        [routerLink]="routerLinkPath(namespace)"
      >
        {{ namespace }}
      </button>
      } @if (namespaces.length > defaultNsLimit) {
      <button
        class="dropdown-button"
        (click)="toggleShowMore()"
        clrDropdownItem
      >
        {{ nsLimit != namespaces.length ? 'SHOW MORE' : 'SHOW LESS' }}
      </button>
      }
    </clr-dropdown-menu>
  </clr-dropdown>
  } @else {
  <clr-icon shape="namespace"></clr-icon>
  [All Namespaces] }
</div>
