<cds-form-group layout="vertical">
  @for (field of form?.fields; track trackByFn($index)) { @if
  (field.config.type ==='layout') {
  <div class="horizontal-layout">
    @if (field.config.label) {
    <h6 slot="label">{{ field.config.label }}</h6>
    } @for (f of field.config.configuration.fields; track trackByFn($index, f))
    {
    <ng-container
      *ngTemplateOutlet="formInputs; context: { field: f }"
    ></ng-container>
    }
  </div>
  } @else {
  <ng-container
    *ngTemplateOutlet="formInputs; context: { field: field }"
  ></ng-container>
  } }
</cds-form-group>

<ng-template #formInputs let-field="field">
  @if (formGroupContainer) {
  <ng-container [formGroup]="formGroupContainer">
    @switch (field?.config?.type) { @case ('checkbox') {
    <cds-checkbox-group [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      @for (opt of fieldChoices(field); track trackByFn($index, opt)) {
      <cds-checkbox>
        <input
          type="checkbox"
          [formArrayName]="field.config.name"
          [value]="opt.value"
          [checked]="opt.checked"
          (change)="onCheck($event, field.config.name)"
        />
        <label>{{ opt.label }}</label>
      </cds-checkbox>
      } @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-checkbox-group>
    } @case ('radio') {
    <cds-radio-group>
      <label [for]="field.config.name">{{ field.config.label }}</label>
      @for (opt of fieldChoices(field); track trackByFn($index, opt)) {
      <cds-radio>
        <input
          type="radio"
          [formArrayName]="field.config.name"
          [value]="opt.value"
          [checked]="opt.checked"
          (change)="onCheck($event, field.config.name)"
        />
        <label>{{ opt.label }}</label>
      </cds-radio>
      } @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-radio-group>
    } @case ('text') {
    <cds-input [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      <input
        type="text"
        [formControlName]="field.config.name"
        [placeholder]="field.config.placeholder ? field.config.placeholder : ''"
      />
      @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-input>
    } @case ('number') {
    <cds-input [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      <input type="number" [formControlName]="field.config.name" />
      @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-input>
    } @case ('password') {
    <cds-input [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      <input type="password" [formControlName]="field.config.name" />
      @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-input>
    } @case ('select') {
    <cds-select [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      <select
        [formArrayName]="field.config.name"
        [attr.multiple]="field.config.configuration.multiple"
        (change)="onSelect($event, field.config.name)"
      >
        @for (opt of fieldChoices(field); track trackByFn($index, opt)) {
        <option [value]="opt.value" [selected]="opt.checked">
          {{ opt.label }}
        </option>
        }
      </select>
      @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-select>
    } @case ('textarea') {
    <cds-textarea [style.width.%]="field.config.width">
      <label [for]="field.config.name">{{ field.config.label }}</label>
      <textarea [formControlName]="field.config.name"></textarea>
      @if (isInvalid(field.config.name)) {
      <cds-control-message status="error">{{
        field.config.error
      }}</cds-control-message>
      }
    </cds-textarea>
    } @case ('hidden') { } @default { Unable to display form field type
    {{ field.config.type }}
    } }
  </ng-container>
  }
</ng-template>
