<div class="dropdown">
  <clr-dropdown [clrCloseMenuOnItemClick]="false">
    @if (type == 'button') {
    <button class="btn btn-outline-primary source" clrDropdownTrigger>
      {{ title }}
      <clr-icon shape="caret" direction="down"></clr-icon>
    </button>
    } @if (type == 'link') {
    <div class="source">
      <a [routerLink]="[url]" class="dropdown-link">
        {{ title }}
      </a>
      <clr-icon
        shape="caret"
        direction="down"
        class="dropdown-link-icon"
        clrDropdownTrigger
      ></clr-icon>
    </div>
    } @if (type == 'icon') {
    <div class="source" clrDropdownTrigger>
      <clr-icon [shape]="title"></clr-icon>
      @if (showToggleIcon) {
      <clr-icon shape="caret" direction="down"></clr-icon>
      }
    </div>
    } @if (type == 'label') {
    <div class="source" clrDropdownTrigger>
      {{ title }}
      <clr-icon shape="caret" direction="down"></clr-icon>
    </div>
    }
    <ng-template [(clrIfOpen)]="isOpen">
      <clr-dropdown-menu
        class="dropdown-wrapper"
        [ngStyle]="dropdownMenuStyle"
        [clrPosition]="position"
      >
        <div class="dropdown-list">
          @for (item of items | slice : 0 : itemLimit; track identifyItem(i,
          item); let i = $index) { @if (item.type == 'header') {
          <label class="dropdown-header" aria-hidden="true">{{
            item.label
          }}</label>
          } @if (item.type == 'text') {
          <div
            (click)="openLink(i)"
            [ngClass]="{ active: item.name == selectedItem }"
            aria-label="item.label"
            clrDropdownItem
          >
            {{ item.label }}
          </div>
          } @if (item.type == 'link') {
          <a
            class="dropdown-link"
            (click)="openLink(i)"
            [ngClass]="{ active: item.name == selectedItem }"
            aria-label="item.label"
            clrDropdownItem
            >{{ item.label }}</a
          >
          } @if (item.type == 'separator') {
          <div
            class="dropdown-divider"
            role="separator"
            aria-hidden="true"
          ></div>
          } }
        </div>
        @if (items.length > defaultItemLimit) {
        <button
          class="dropdown-button"
          (click)="toggleShowMore()"
          clrDropdownItem
        >
          {{ itemLimit != items.length ? 'SHOW MORE' : 'SHOW LESS' }}
        </button>
        }
      </clr-dropdown-menu>
    </ng-template>
  </clr-dropdown>
</div>
