<table class="table table-compact">
  <thead>
    <tr>
      @for (column of columns; track trackByIdentity($index, column)) {
      <td class="left">
        {{ column }}
      </td>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track trackByIndex($index)) {
    <tr>
      @for (column of columns; track trackByIdentity($index, column)) {
      <td class="left">
        <app-view-container [view]="row[column]"></app-view-container>
      </td>
      }
    </tr>
    }
  </tbody>
</table>
