@if (selected.length > 0) {
<clr-dropdown class="dropdown-top" [clrCloseMenuOnItemClick]="true">
  <button class="dropdown-button" type="button" clrDropdownTrigger>
    <clr-icon shape="cluster"></clr-icon>
    {{ selected | truncate }}
    <clr-icon shape="caret" direction="down"></clr-icon>
  </button>
  <clr-dropdown-menu
    class="dropdown-top"
    *clrIfOpen
    [clrPosition]="'bottom-right'"
  >
    <label class="dropdown-header">Contexts</label>
    @for (context of contexts; track trackByFn($index, context)) {
    <button
      class="dropdown-button"
      type="button"
      [ngClass]="contextClass(context)"
      clrDropdownItem
      (click)="selectContext(context)"
      title="{{ context.name }}"
    >
      {{ context.name | truncate }}
    </button>
    }
  </clr-dropdown-menu>
</clr-dropdown>
} @else {
<a href="javascript://" class="nav-link nav-icon-text">
  <span class="nav-text">No contexts!</span>
</a>
}
