@if (labels) {
<div class="labels-wrapper">
  <div class="labels-container">
    @for (label of showLabels; track trackByIdentity($index, label)) { @for
    (item of label | keyvalue; track trackByIdentity($index, item)) {
    <app-octant-tooltip
      tooltipText="{{ item.key }}:{{ item.value }}"
      class="octant-tooltip"
    >
      <span
        class="label label-light-blue clickable"
        (click)="filterLabel(item.key, item.value)"
      >
        {{ item.key }}:{{ item.value }}
      </span>
    </app-octant-tooltip>
    } }
  </div>
  @if (overflowLabels?.length > 0) {
  <clr-signpost>
    <span class="badge badge-light-blue" clrSignpostTrigger>
      {{ overflowLabels.length }}+
    </span>
    <clr-signpost-content *clrIfOpen>
      @for (label of overflowLabels; track trackByIdentity($index, label)) {
      @for (item of label | keyvalue; track trackByIdentity($index, item)) {
      <span
        class="label label-light-blue clickable"
        (click)="filterLabel(item.key, item.value)"
      >
        {{ item.key }}:{{ item.value }}
      </span>
      } }
    </clr-signpost-content>
  </clr-signpost>
  }
</div>
}
