@if (node) {
<div class="status">
  <div class="card">
    <div [ngClass]="indicatorClass()">
      <progress value="100" max="100"></progress>
    </div>
    <div class="card-block">
      <div class="card-title">
        @if (node && !node.path) {
        <span>{{ node.name }}</span>
        } @if (node && node.path) {
        <app-view-container [view]="node.path"></app-view-container>
        }
      </div>
      @if (node) {
      <div class="card-text">
        <ul class="node-status">
          @for (detail of node.details; track detailsTrackBy($index, detail)) {
          <li>
            <app-view-container [view]="detail"></app-view-container>
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
  <div class="properties">
    <div>
      <table class="table table-vertical">
        <tbody>
          <tr>
            <th>Version</th>
            <td>{{ node.apiVersion }}</td>
          </tr>
          <tr>
            <th>Kind</th>
            <td>{{ node.kind }}</td>
          </tr>
          @for (prop of node.properties; track propertiesTrackBy($index, prop))
          {
          <tr>
            <th>{{ prop.label }}</th>
            <td>
              <app-view-container [view]="prop.value"></app-view-container>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
}
