<overlay-scrollbars
  #contentScrollbar
  [options]="options"
  (osScroll)="onScrollbarScroll()"
  class="scrollbar"
>
  <div
    clrFocusOnViewInit
    class="content-component"
    [class.loading-content]="!hasReceivedContent"
  >
    @if (hasReceivedContent && !showSpinner) {
    <app-object-tabs
      [title]="title"
      [views]="views"
      [titleComponents]="titleComponents"
    ></app-object-tabs>
    } @else {
    <span class="spinner"> Loading... </span>
    }
  </div>
</overlay-scrollbars>
